{% extends "VirhiAdminBundle:Admin:layout.html.twig" %}

{% block page_title %}
    Dashbord
{% endblock %}

{% block content %}
    {% for item in dashbord.items %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    <a href="{{ path('virhi_ui_rest_api_doctrine_entity_list', {'name': item.objectStructure.name}) }}">{{ item.objectStructure.label }}</a>
                </h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tr>
                        {% for field in item.objectStructure.fields %}
                            <th>{{ field.label }}</th>
                        {% endfor %}
                        <th></th>
                    </tr>

                    {% for object in item.objects %}
                        <tr>
                            {% for field in object.fields %}
                                <td>{{ field.value }}</td>
                            {% endfor %}
                            <td>
                                <div class="btn-group" role="group" aria-label="...">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            Action
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="{{ path('virhi_ui_rest_api_doctrine_entity_item', {'name': object.name, 'id': object.id}) }}" class=""> <span class="glyphicon glyphicon-fullscreen"></span> More</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('virhi_ui_rest_api_doctrine_entity_edit', {'name': object.name, 'id': object.id}) }}" class=""> <span class="glyphicon glyphicon-edit"></span> Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}