<div class="btn-toolbar" role="toolbar">
    <a href="{{ path('virhi_ui_rest_api_doctrine_entity_item', {'name': entity.name, 'id': entity.id}) }}" class="btn btn-default"> <span class="glyphicon glyphicon-fullscreen"></span> More</a>
    <a href="{{ path('virhi_ui_rest_api_doctrine_entity_edit', {'name': entity.name, 'id': entity.id}) }}" class="btn btn-primary"> <span class="glyphicon glyphicon-edit"></span> Edit</a>
    <button type="button" data-toggle="modal" data-target="{{ ['#modal', entity.id] | join('_') }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>

    <!-- Modal -->
    <div class="modal fade" id="{{ ['modal', entity.id] | join('_') }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete {{ entity.name }}</h4>
                </div>
                <div class="modal-body">
                    Confirm delete of entity : {{ entity.name }} id : {{ entity.id }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="{{ path('virhi_ui_rest_api_doctrine_entity_remove', {'name': entity.name, 'id': entity.id}) }}" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>