{% if field.key is defined and field.key == true %}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="{{ fieldName }}">{{ fieldName }} :</label>
        <div class="col-sm-10">
            <input type="{{ field.type }}"  {% if created == true %} disabled="disabled" {% else %} readonly {% endif %} name="{{ fieldName }}" class="form-control" id="{{ fieldName }}" placeholder="{{ fieldValue }}" value="{{ fieldValue }}">
        </div>
    </div>
{% else %}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="{{ fieldName }}">{{ fieldName }} :</label>
        <div class="col-sm-10">
            <input type="{{ field.type }}" name="{{ fieldName }}" class="form-control" id="{{ fieldName }}" placeholder="{{ fieldValue }}" value="{{ fieldValue }}">
        </div>
    </div>
{% endif %}