{% if field.key is defined and field.key == true %}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="{{ fieldName }}">{{ fieldName }} :</label>
        <div class="col-sm-10">
            <textarea rows="4" cols="50" type="{{ field.type }}" readonly name="{{ fieldName }}" class="form-control" id="{{ fieldName }}" placeholder="{{ fieldValue }}" value="{{ fieldValue }}">{{ fieldValue }}</textarea>
        </div>
    </div>
{% else %}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="{{ fieldName }}">{{ fieldName }} :</label>
        <div class="col-sm-10">
            <textarea rows="4" cols="50" type="{{ field.type }}" name="{{ fieldName }}" class="form-control" id="{{ fieldName }}" placeholder="{{ fieldValue }}" value="{{ fieldValue }}">{{ fieldValue }}</textarea>
        </div>
    </div>
{% endif %}