{% if field.key is defined and field.key == true %}
    <div class="form-group">
        <label class="control-label" for="{{ field.name }}">{{ field.name }} :</label>
        <textarea rows="4" cols="50" type="{{ field.type }}" readonly name="{{ field.name }}" class="form-control" id="{{ field.name }}" placeholder="{{ field.value }}" value="{{ field.value }}">{{ field.value }}</textarea>
    </div>
{% else %}
    <div class="form-group">
        <label class="control-label" for="{{ field.name }}">{{ field.name }} :</label>
        <textarea rows="4" cols="50" type="{{ field.type }}" name="{{ field.name }}" class="form-control" id="{{ field.name }}" placeholder="{{ field.value }}" value="{{ field.value }}">{{ field.value }}</textarea>
    </div>
{% endif %}