<div class="form-group">
    <label class="control-label" for="{{ field.name }}">{{ field.name }} :</label>
    <select multiple name="{{ field.name }}" class="form-control">
        {% for ef in embedField %}
            {% set item = attribute(ef, field.entity) %}
            {% for i in item %}
                {% set value = attribute(i, field.field) %}
                <option value="{{ value }}" {% if value in field.objectSelected %} selected {% endif %}>{{ value }}</option>
            {% endfor %}
        {% endfor %}
    </select>
</div>