{% extends "VirhiAdminBundle:Admin:layout.html.twig" %}

{% block page_title %}
    {{ entity.name }} <small> full view page</small>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <a href="{{ path('virhi_ui_rest_api_doctrine_homepage') }}">
            <i class="fa fa-dashboard"></i>Dashbord
        </a>
    </li>
    <li>
        <a href="{{ path('virhi_ui_rest_api_doctrine_entity_list' , {'name': entity.name}) }}"> List {{ entity.name }}</a>
    </li>
    <li>
        {{ entity.name }} - {{ entity.id }}
    </li>
{% endblock %}

{% block content %}
    {% include  "VirhiLazyRestApiUiBundle:Include:object.html.twig"%}
{% endblock %}
