{% extends "VirhiAdminBundle:Admin:layout.html.twig" %}

{% block page_title %}
    {{ name }} <small> list page </small>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <a href="{{ path('virhi_ui_rest_api_doctrine_homepage') }}">
            <i class="fa fa-dashboard"></i>Dashbord
        </a>
    </li>
    <li>
        List {{ name }}
    </li>
{% endblock %}

{% block content %}
    {% set mode = 'list' %}
    <div class="row">
        <div class="col-sm-12 text-right">
            <a class="btn btn-primary btn-lg btn-block btn_new" href="{{ path('virhi_ui_rest_api_doctrine_entity_create', {'name': name}) }}">Create</a>
        </div>
    </div>

    {% for entity in list %}
        {% include  "VirhiLazyRestApiUiBundle:Include:object.html.twig"%}
    {% endfor %}

    <div class="row">
        <div class="col-sm-12 text-right">
            <a class="btn btn-primary btn-lg btn-block btn_new" href="{{ path('virhi_ui_rest_api_doctrine_entity_create', {'name': name}) }}">Create</a>
        </div>
    </div>
{% endblock %}
